<div class="d-flex flex-column align-items-center">

    @for (appointment of appointments; track appointment.id) {
        <div class="mb-3">
            <div class="card shadow border-0">
                <div class="card-body p-4">
                    <h3 class="card-title mb-3 fs-4"><strong>Médico: </strong>{{appointment.doctor}}</h3>
                    <div class="d-flex flex-wrap gap-3 mb-3">
                        <p class="fs-6 m-0"><strong>Especialidade: </strong>{{appointment.specialty}}</p>
                        <p class="fs-6 m-0"><strong>Data da consulta: </strong>{{appointment.date}}</p>
                        <p class="fs-6 m-0"><strong>Horário da consulta: </strong>{{appointment.time}}</p>
                        <p class="fs-6 m-0"><strong>Observações: </strong>{{appointment.obs}}</p>
                        <p class="fs-6 m-0"><strong>Status: </strong> <span class="badge bg-success">{{appointment.status}}</span></p>
                    </div>

                    <div class="d-flex gap-3 justify-content-end mt-4">

                        <button class="btn btn-primary" routerLink="/appointments/edit/{{appointment.id}}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                              </svg>
                        </button>

                        <button class="btn btn-success" (click)="doneAppointment(appointment.id!)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                              </svg>
                        </button>

                        <button class="btn btn-warning" (click)="cancelAppointment(appointment.id!)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fff" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z"/>
                              </svg>
                        </button>
                        
                        <button class="btn btn-danger" (click)="deleteAppointment(appointment.id!)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                          </svg>
                        </button>

                        
                    </div>
                    
                </div>
            </div>
        </div>
    } @empty {
        <div>Nenhum produto encontrado</div>
    }

</div>