<div class="d-flex flex-column align-items-center">
    <div class="mb-3">
        <div class="card shadow border-0">
            <div class="card-body p-4">
                <h3 class="card-title mb-3 fs-4"><strong>Médico:</strong> Rogério Lima</h3>
                <div class="d-flex flex-wrap gap-3 mb-3">
                    <p class="fs-6 m-0"><strong>Especialidade:</strong> Cardiologista</p>
                    <p class="fs-6 m-0"><strong>Data da consulta:</strong> 12/12/2024</p>
                    <p class="fs-6 m-0"><strong>Horário da consulta:</strong> 15:00</p>
                    <p class="fs-6 m-0"><strong>Observações:</strong> Dores constantes</p>
                    <p class="fs-6 m-0"><strong>Status: </strong> <span class="badge bg-success"> Agendado</span></p>
                </div>
                <!-- <a href="#" class="btn btn-outline-primary w-100">Ver Detalhes</a> -->
            </div>
        </div>
    </div>

    <div class="mb-3">
        <div class="card shadow border-0">
            <div class="card-body p-4">
                <h3 class="card-title mb-3 fs-4"><strong>Médico:</strong> Rogério Lima</h3>
                <div class="d-flex flex-wrap gap-3 mb-3">
                    <p class="fs-6 m-0"><strong>Especialidade:</strong> Cardiologista</p>
                    <p class="fs-6 m-0"><strong>Data da consulta:</strong> 12/12/2024</p>
                    <p class="fs-6 m-0"><strong>Horário da consulta:</strong> 15:00</p>
                    <p class="fs-6 m-0"><strong>Observações:</strong> Dores constantes</p>
                    <p class="fs-6 m-0"><strong>Status: </strong> <span class="badge bg-success"> Agendado</span></p>
                </div>
                <!-- <a href="#" class="btn btn-outline-primary w-100">Ver Detalhes</a> -->
            </div>
        </div>
    </div>

    <div class="mb-3">
        <div class="card shadow border-0">
            <div class="card-body p-4">
                <h3 class="card-title mb-3 fs-4"><strong>Médico:</strong> Rogério Lima</h3>
                <div class="d-flex flex-wrap gap-3 mb-3">
                    <p class="fs-6 m-0"><strong>Especialidade:</strong> Cardiologista</p>
                    <p class="fs-6 m-0"><strong>Data da consulta:</strong> 12/12/2024</p>
                    <p class="fs-6 m-0"><strong>Horário da consulta:</strong> 15:00</p>
                    <p class="fs-6 m-0"><strong>Observações:</strong> Dores constantes</p>
                    <p class="fs-6 m-0"><strong>Status: </strong> <span class="badge bg-success"> Agendado</span></p>
                </div>
                <!-- <a href="#" class="btn btn-outline-primary w-100">Ver Detalhes</a> -->
            </div>
        </div>
    </div>

    <div class="mb-3">
        <div class="card shadow border-0">
            <div class="card-body p-4">
                <h3 class="card-title mb-3 fs-4"><strong>Médico:</strong> Rogério Lima</h3>
                <div class="d-flex flex-wrap gap-3 mb-3">
                    <p class="fs-6 m-0"><strong>Especialidade:</strong> Cardiologista</p>
                    <p class="fs-6 m-0"><strong>Data da consulta:</strong> 12/12/2024</p>
                    <p class="fs-6 m-0"><strong>Horário da consulta:</strong> 15:00</p>
                    <p class="fs-6 m-0"><strong>Observações:</strong> Dores constantes</p>
                    <p class="fs-6 m-0"><strong>Status: </strong> <span class="badge bg-success"> Agendado</span></p>
                </div>
                <!-- <a href="#" class="btn btn-outline-primary w-100">Ver Detalhes</a> -->
            </div>
        </div>
    </div>  

    <div class="mb-3">
        <div class="card shadow border-0">
            <div class="card-body p-4">
                <h3 class="card-title mb-3 fs-4"><strong>Médico:</strong> Rogério Lima</h3>
                <div class="d-flex flex-wrap gap-3 mb-3">
                    <p class="fs-6 m-0"><strong>Especialidade:</strong> Cardiologista</p>
                    <p class="fs-6 m-0"><strong>Data da consulta:</strong> 12/12/2024</p>
                    <p class="fs-6 m-0"><strong>Horário da consulta:</strong> 15:00</p>
                    <p class="fs-6 m-0"><strong>Observações:</strong> Dores constantes</p>
                    <p class="fs-6 m-0"><strong>Status: </strong> <span class="badge bg-success"> Agendado</span></p>
                </div>
                <!-- <a href="#" class="btn btn-outline-primary w-100">Ver Detalhes</a> -->
            </div>
        </div>
    </div>
    <div class="mb-3">
        <div class="card shadow border-0">
            <div class="card-body p-4">
                <h3 class="card-title mb-3 fs-4"><strong>Médico:</strong> Rogério Lima</h3>
                <div class="d-flex flex-wrap gap-3 mb-3">
                    <p class="fs-6 m-0"><strong>Especialidade:</strong> Cardiologista</p>
                    <p class="fs-6 m-0"><strong>Data da consulta:</strong> 12/12/2024</p>
                    <p class="fs-6 m-0"><strong>Horário da consulta:</strong> 15:00</p>
                    <p class="fs-6 m-0"><strong>Observações:</strong> Dores constantes</p>
                    <p class="fs-6 m-0"><strong>Status: </strong> <span class="badge bg-success"> Agendado</span></p>
                </div>
                <!-- <a href="#" class="btn btn-outline-primary w-100">Ver Detalhes</a> -->
            </div>
        </div>
    </div>
    <div class="mb-3">
        <div class="card shadow border-0">
            <div class="card-body p-4">
                <h3 class="card-title mb-3 fs-4"><strong>Médico:</strong> Rogério Lima</h3>
                <div class="d-flex flex-wrap gap-3 mb-3">
                    <p class="fs-6 m-0"><strong>Especialidade:</strong> Cardiologista</p>
                    <p class="fs-6 m-0"><strong>Data da consulta:</strong> 12/12/2024</p>
                    <p class="fs-6 m-0"><strong>Horário da consulta:</strong> 15:00</p>
                    <p class="fs-6 m-0"><strong>Observações:</strong> Dores constantes</p>
                    <p class="fs-6 m-0"><strong>Status: </strong> <span class="badge bg-success"> Agendado</span></p>
                </div>
                <!-- <a href="#" class="btn btn-outline-primary w-100">Ver Detalhes</a> -->
            </div>
        </div>
    </div>
    <div class="mb-3">
        <div class="card shadow border-0">
            <div class="card-body p-4">
                <h3 class="card-title mb-3 fs-4"><strong>Médico:</strong> Rogério Lima</h3>
                <div class="d-flex flex-wrap gap-3 mb-3">
                    <p class="fs-6 m-0"><strong>Especialidade:</strong> Cardiologista</p>
                    <p class="fs-6 m-0"><strong>Data da consulta:</strong> 12/12/2024</p>
                    <p class="fs-6 m-0"><strong>Horário da consulta:</strong> 15:00</p>
                    <p class="fs-6 m-0"><strong>Observações:</strong> Dores constantes</p>
                    <p class="fs-6 m-0"><strong>Status: </strong> <span class="badge bg-success"> Agendado</span></p>
                </div>
                <!-- <a href="#" class="btn btn-outline-primary w-100">Ver Detalhes</a> -->
            </div>
        </div>
    </div>
    <div class="mb-3">
        <div class="card shadow border-0">
            <div class="card-body p-4">
                <h3 class="card-title mb-3 fs-4"><strong>Médico:</strong> Rogério Lima</h3>
                <div class="d-flex flex-wrap gap-3 mb-3">
                    <p class="fs-6 m-0"><strong>Especialidade:</strong> Cardiologista</p>
                    <p class="fs-6 m-0"><strong>Data da consulta:</strong> 12/12/2024</p>
                    <p class="fs-6 m-0"><strong>Horário da consulta:</strong> 15:00</p>
                    <p class="fs-6 m-0"><strong>Observações:</strong> Dores constantes</p>
                    <p class="fs-6 m-0"><strong>Status: </strong> <span class="badge bg-success"> Agendado</span></p>
                </div>
                <!-- <a href="#" class="btn btn-outline-primary w-100">Ver Detalhes</a> -->
            </div>
        </div>
    </div>
    <div class="mb-3">
        <div class="card shadow border-0">
            <div class="card-body p-4">
                <h3 class="card-title mb-3 fs-4"><strong>Médico:</strong> Rogério Lima</h3>
                <div class="d-flex flex-wrap gap-3 mb-3">
                    <p class="fs-6 m-0"><strong>Especialidade:</strong> Cardiologista</p>
                    <p class="fs-6 m-0"><strong>Data da consulta:</strong> 12/12/2024</p>
                    <p class="fs-6 m-0"><strong>Horário da consulta:</strong> 15:00</p>
                    <p class="fs-6 m-0"><strong>Observações:</strong> Dores constantes</p>
                    <p class="fs-6 m-0"><strong>Status: </strong> <span class="badge bg-success"> Agendado</span></p>
                </div>
                <!-- <a href="#" class="btn btn-outline-primary w-100">Ver Detalhes</a> -->
            </div>
        </div>
    </div>
    

</div>