<section class="container d-flex flex-column justify-content-center align-items-center vh-100">
  <h1 class="logo mt-0"><span class="logo-med">Med</span>Con</h1>

  <div class="sign-up">
    <form [formGroup]="signUpForm" class="d-flex flex-column p-3">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input formControlName="name" type="text" matInput />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input formControlName="email" type="email" matInput />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input formControlName="password" type="password" matInput />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Check Password</mat-label>
        <input formControlName="checkPassword" type="password" matInput />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Select Role User</mat-label>
        <select matNativeControl required formControlName="role">
          <option value="USER" selected>User</option>
          <option value="ADMIN">Admin</option>
        </select>
      </mat-form-field>


      <button class="btn buttonPink" (click)="onSubmit()" [disabled]="signUpForm.invalid">
        Sign Up
      </button>

      <p class="m-0 mt-4">Já possui uma conta?
        <a routerLink="/auth/login" class="sign-in text-center">
          Clique aqui!
        </a>
      </p>

    </form>
  </div>
</section>