<aside class="bg-dark d-flex flex-column justify-content-around text-center">
  <ul>
    <li><a href="">Cadastrar Consultas</a></li>
    <li><a href="">Ver agendamentos</a></li>
  </ul>

  <div class="user-container text-center">
    <div class="">
        <i class="fa-regular fa-user user-icon text-center"></i>
        <span class="text-center">User</span>
    </div>
    <p>User-email</p>
    <ul class="text-center">
        <li class="text-center">Login</li>
        <li>Registrar-se</li>
    </ul>
  </div>

  
</aside>
