<aside class="pb-5">
  <div class="logo">
    <p routerLink="/appointments"><span class="logo-med">Med</span>Con</p>
  </div>

  <div class="buttons">
    <ul>
      <li class="menu-btn"><a routerLink="/appointments">Cadastrar Consultas</a></li>
      <li class="menu-btn"><a routerLink="/appointments">Ver agendamentos</a></li>
    </ul>
  </div>

  <div class="user-container">
    <i class="fa-regular fa-user user-icon"></i>
    <p class="user-message">Bem vindo, User</p>

    <button routerLink="/auth/login">Log Out</button>
  </div>
</aside>
