<section class="container-aside">
  <aside class="pb-5">
    <div class="logo">
      <p routerLink="/appointments"><span class="logo-med">Med</span>Con</p>
    </div>

    <div class="buttons">
      <ul class="w-100">
        <li class="menu-btn px-2"><a routerLink="/appointments/create">Cadastrar Consultas</a></li>
        <li class="menu-btn px-2"><a routerLink="/appointments">Ver Agendamentos</a></li>
      </ul>
    </div>

    <div class="user-container">
      <i class="fa-regular fa-user user-icon"></i>
      <p class="user-message text-center">Boas-Vindas <br>{{getUserName()}}!</p>

      <button routerLink="/auth/login" (click)="logout()" class="btn buttonPink">Log Out</button>
    </div>
  </aside>
</section>