.container-aside{
    width: 175px;
}

aside{
    position: fixed;
    width: 175px;
    height: 100%;
    background: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 30px;
    margin-top: 20px;
    font-weight: 700;
}

.logo-med{
    color: #f03f95;
}

.buttons{
    margin-top: 50px;
}

ul{
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.menu-btn{
    width: 100%;
    height: 30px;
    margin: 5px 0;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-btn:hover{
    background-color: #ebe7e7;

}

.menu-btn a{
    text-decoration: none;
    color:rgb(142, 139, 139);
}

.user-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(142, 139, 139);
}

.user-icon{
    font-size: 25px;
    border: 2px solid rgb(142, 139, 139);
    border-radius: 50px;
    padding: 8px;
}

.user-message{
    margin-top: 10px;
}


